.gitignore
*.lock
*.min.js
public/*.hot-update.*
public/
# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/
/next-env.d.ts

# production
/build

# misc
.DS_Store