@import 'tailwindcss';
@import 'tw-animate-css';

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-100: #fff1e6;
  /* oklch(0.9662 0.0211 60.75) */
  --color-primary-500: #ff7000;
  /* oklch(0.7089 0.1967 46.81) */

  --color-dark-100: #000000;
  /* oklch(0 0 0) */
  --color-dark-200: #0f1117;
  /* oklch(0.1783 0.0128 270.6) */
  --color-dark-300: #151821;
  /* oklch(0.2102 0.0185 270.39) */
  --color-dark-400: #212734;
  /* oklch(0.2728 0.0257 265.4) */
  --color-dark-500: #101012;
  /* oklch(0.1739 0.0041 285.97) */

  --color-light-400: #858ead;
  /* oklch(0.6504 0.0475 272.34) */
  --color-light-500: #7b8ec8;
  /* oklch(0.6547 0.0897 269.9) */
  --color-light-700: #dce3f1;
  /* oklch(0.9147 0.0205 264.47) */
  --color-light-800: #f4f6f8;
  /* oklch(0.9722 0.0034 247.86) */
  --color-light-850: #fdfdfd;
  /* oklch(0.994 0 0) */
  --color-light-900: #ffffff;
  /* oklch(1 0 0) */

  --color-link-100: #1da1f2;
  /* oklch(0.6818 0.1584 243.35) */

  --radius-2: 8px;
  --radius-1_5: 6px;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --shadow-light-100:
    0px 12px 20px 0px rgba(184, 184, 184, 0.03), 0px 6px 12px 0px rgba(184, 184, 184, 0.02),
    0px 2px 4px 0px rgba(184, 184, 184, 0.03);
  --shadow-light-200: 10px 10px 20px 0px rgba(218, 213, 213, 0.1);
  --shadow-light-300: -10px 10px 20px 0px rgba(218, 213, 213, 0.1);
  --shadow-dark-100: 0px 2px 10px 0px rgba(46, 52, 56, 0.1);
  --shadow-dark-200: 2px 0px 20px 0px rgba(39, 36, 36, 0.04);

  --background-image-auth-dark: url('/images/auth-dark.png');
  --background-image-auth-light: url('/images/auth-light.png');

  --breakpoint-xs: 420px;

  --font-inter: var(--font-inter);
  --font-space-grotesk: var(--font-space-grotesk);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility background-light850_dark100 {
  @apply bg-light-850 dark:bg-dark-100;
}

@utility background-light900_dark200 {
  @apply bg-light-900 dark:bg-dark-200;
}

@utility background-light900_dark300 {
  @apply bg-light-900 dark:bg-dark-300;
}

@utility background-light800_darkgradient {
  @apply bg-light-800 dark:dark-gradient;
}

@utility background-light800_dark400 {
  @apply bg-light-800! dark:bg-dark-400!;
  @apply bg-light-800 dark:bg-dark-400;
}

@utility background-light700_dark400 {
  @apply bg-light-700 dark:bg-dark-400;
}

@utility background-light700_dark300 {
  @apply bg-light-700 dark:bg-dark-300;
}

@utility background-light800_dark300 {
  @apply bg-light-800! dark:bg-dark-300!;
}

@utility background-light800_dark200 {
  @apply bg-light-800 dark:bg-dark-200;
}

@utility background-dark400_light900 {
  @apply dark:bg-dark-400! bg-light-900!;
}

@utility text-dark100_light900 {
  @apply text-dark-100! dark:text-light-900!;
}

@utility text-dark200_light900 {
  @apply text-dark-200 dark:text-light-900;
}

@utility text-dark200_light800 {
  @apply text-dark-200! dark:text-light-800!;
}

@utility text-dark300_light700 {
  @apply text-dark-300 dark:text-light-700;
}

@utility text-dark400_light700 {
  @apply text-dark-400 dark:text-light-700;
}

@utility text-dark500_light700 {
  @apply text-dark-500! dark:text-light-700!;
}

@utility text-dark500_light500 {
  @apply text-dark-500 dark:text-light-500;
}

@utility text-dark500_light400 {
  @apply text-dark-500 dark:text-light-400;
}

@utility text-dark300_light900 {
  @apply text-dark-300! dark:text-light-900!;
}

@utility text-dark400_light800 {
  @apply text-dark-400 dark:text-light-800;
}

@utility text-light400_light500 {
  @apply text-light-400! dark:text-light-500!;
  @apply text-light-400! dark:text-light-500!;
}

@utility text-dark400_light500 {
  @apply text-dark-400 dark:text-light-500;
}

@utility text-dark400_light900 {
  @apply text-dark-400! dark:text-light-900!;
}

@utility light-border {
  @apply border-light-800 dark:border-dark-300;
}

@utility light-border-2 {
  @apply border-light-700! dark:border-dark-400!;
}

@utility h1-bold {
  @apply text-[30px] font-bold leading-[42px] tracking-tighter;
}

@utility h2-bold {
  @apply text-[24px] font-bold leading-[31.2px];
}

@utility h2-semibold {
  @apply text-[24px] font-semibold leading-[31.2px];
}

@utility h3-bold {
  @apply text-[20px] font-bold leading-[26px];
}

@utility h3-semibold {
  @apply text-[20px] font-semibold leading-[24.8px];
}

@utility base-medium {
  @apply text-[18px] font-medium leading-[25.2px];
}

@utility base-semibold {
  @apply text-[18px] font-semibold leading-[25.2px];
}

@utility base-bold {
  @apply text-[18px] font-bold leading-[140%];
}

@utility paragraph-regular {
  @apply text-[16px] font-normal leading-[22.4px];
}

@utility paragraph-medium {
  @apply text-[16px] font-medium leading-[22.4px];
}

@utility paragraph-semibold {
  @apply text-[16px] font-semibold leading-[20.8px];
}

@utility body-regular {
  @apply text-[14px] font-normal leading-[19.6px];
}

@utility body-medium {
  @apply text-[14px] font-medium leading-[18.2px];
}

@utility body-semibold {
  @apply text-[14px] font-semibold leading-[18.2px];
}

@utility body-bold {
  @apply text-[14px] font-bold leading-[18.2px];
}

@utility small-regular {
  @apply text-[12px] font-normal leading-[15.6px];
}

@utility small-medium {
  @apply text-[12px] font-medium leading-[15.6px];
}

@utility small-semibold {
  @apply text-[12px] font-semibold leading-[15.6px];
}

@utility subtle-medium {
  @apply text-[10px]! font-medium! leading-[13px]!;
}

@utility subtle-regular {
  @apply text-[10px] font-normal leading-[13px];
}

@utility placeholder {
  @apply placeholder:text-light-400 dark:placeholder:text-light-500;
}

@utility invert-colors {
  @apply invert dark:invert-0;
}

@utility shadow-light100_dark100 {
  @apply shadow-light-100 dark:shadow-dark-100;
}

@utility shadow-light100_darknone {
  @apply shadow-light-100 dark:shadow-none;
}

@utility primary-gradient {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
}

@utility dark-gradient {
  background: linear-gradient(232deg, rgba(23, 28, 35, 0.41) 0%, rgba(19, 22, 28, 0.7) 100%);
  background: linear-gradient(232deg, rgba(23, 28, 35, 0.41) 0%, rgba(19, 22, 28, 0.7) 100%);
}

@utility light-gradient {
  background: linear-gradient(132deg, rgba(247, 249, 255, 0.5) 0%, rgba(229, 237, 255, 0.25) 100%);
}

@utility primary-text-gradient {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility flex-start {
  @apply flex justify-start items-center;
}

@utility card-wrapper {
  @apply bg-light-900 dark:dark-gradient shadow-light-100 dark:shadow-dark-100;
}

@utility btn {
  @apply bg-light-800! dark:bg-dark-300!;
}

@utility btn-secondary {
  @apply bg-light-800! dark:bg-dark-400!;
}

@utility btn-tertiary {
  @apply bg-light-700! dark:bg-dark-300!;
}

@utility no-focus {
  @apply focus-visible:ring-0! focus-visible:ring-transparent! focus-visible:ring-offset-0!;
}

@utility markdown {
  @apply !max-w-full prose prose-p:my-2 prose-ol:my-0 prose-ul:my-0 dark:prose-p:text-light-700 dark:prose-ol:text-light-700 dark:prose-ul:text-light-500 dark:prose-strong:text-white dark:prose-headings:text-white prose-headings:text-dark-400 prose-h1:text-dark-300 prose-h2:text-dark-300 prose-p:text-dark-500 prose-ul:text-dark-500 prose-ol:text-dark-500;
}

@utility markdown-editor {
  @apply prose !max-w-full prose-p:m-0 dark:prose-headings:text-white prose-headings:text-dark-400 prose-p:text-dark-500 dark:prose-p:text-light-700 prose-ul:text-dark-500 dark:prose-ul:text-light-700 prose-ol:text-dark-500 dark:prose-ol:text-light-700 dark:prose-strong:text-white prose-blockquote:text-dark-500 dark:prose-blockquote:text-light-700;
}

@utility tab {
  @apply min-h-full! dark:bg-dark-400! bg-light-800! text-light-500! dark:data-[state=active]:bg-dark-300! data-[state=active]:bg-primary-100! data-[state=active]:text-primary-500!;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  body {
    font-family: var(--font-inter);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.active-theme {
  filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg) brightness(104%) contrast(106%) !important;
}

.hash-span {
  margin-top: -140px;
  padding-bottom: 140px;
  display: block;
}

.mdxeditor-toolbar {
  background: #ffffff !important;
}

.dark .mdxeditor-toolbar {
  background: #151821 !important;
}

.dark .mdxeditor-toolbar button svg {
  color: #858ead !important;
}

.dark .mdxeditor-toolbar button:hover svg {
  color: #000 !important;
}

.dark .mdxeditor-toolbar [role='separator'] {
  border-color: #555 !important;
}

.markdown a {
  color: #1da1f2;
}

.markdown a,
code {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  padding: 2px;
  color: #ff7000 !important;
}

.markdown pre {
  display: grid;
  width: 100%;
}

.markdown pre code {
  width: 100%;
  display: block;
  overflow-x: auto;

  color: inherit !important;
}

[data-lexical-editor='true'] {
  height: 350px !important;
  overflow-y: auto !important;
}

/* NESTED CODE BLOCKS: Only apply grid to visible code blocks */
[data-bright-mode='dark']:not(html.light [data-bright-mode='dark']),
[data-bright-mode='light']:not(:not(html.light [data-bright-mode='light'])) {
  display: grid !important;
  width: 100% !important;
}

@utility font-space-grotesk {
  font-family: var(--font-space-grotesk);
}

:root {
  --radius: 0.625rem;
}

:root {
  --primary: oklch(0.7089 0.1967 46.81);
  --primary-foreground: oklch(1 0 0);

  --background: oklch(0.9722 0.0034 247.86); /* light-800 */
  --foreground: oklch(0.1783 0.0128 270.6); /* dark-300 */

  --card: oklch(0.994 0 0); /* light-850 */
  --card-foreground: oklch(0.1783 0.0128 270.6);

  --popover: oklch(0.994 0 0);
  --popover-foreground: oklch(0.1783 0.0128 270.6);

  --secondary: oklch(0.6547 0.0897 269.9); /* light-500 */
  --secondary-foreground: oklch(0.1783 0.0128 270.6); /* dark-200 */

  --muted: oklch(0.9147 0.0205 264.47); /* light-700 */
  --muted-foreground: oklch(0.6504 0.0475 272.34); /* light-400 */

  --accent: oklch(0.9662 0.0211 60.75); /* link-100 */
  --accent-foreground: oklch(0.1783 0.0128 270.6);

  --destructive: oklch(0.45 0.15 27); /* assumed warning/red */
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.9147 0.0205 264.47); /* light-700 */
  --input: oklch(0.9147 0.0205 264.47);
  --ring: oklch(0.7089 0.1967 46.81);

  --chart-1: oklch(0.7089 0.1967 46.81);
  --chart-2: oklch(0.6504 0.0475 272.34);
  --chart-3: oklch(0.6547 0.0897 269.9);
  --chart-4: oklch(0.6818 0.1584 243.35);
  --chart-5: oklch(0.994 0 0);

  --sidebar: oklch(0.9722 0.0034 247.86);
  --sidebar-foreground: oklch(0.1783 0.0128 270.6);
  --sidebar-primary: oklch(0.7089 0.1967 46.81);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9662 0.0211 60.75);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9147 0.0205 264.47);
  --sidebar-ring: oklch(0.7089 0.1967 46.81);

  --font-sans: Oxanium, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;

  --radius: 0.3rem;

  --shadow-2xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
  --shadow-xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
  --shadow-sm: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 1px 2px -1px hsl(28 18% 25% / 0.18);
  --shadow: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 1px 2px -1px hsl(28 18% 25% / 0.18);
  --shadow-md: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 2px 4px -1px hsl(28 18% 25% / 0.18);
  --shadow-lg: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 4px 6px -1px hsl(28 18% 25% / 0.18);
  --shadow-xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 8px 10px -1px hsl(28 18% 25% / 0.18);
  --shadow-2xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.45);

  --tracking-normal: 0em;
  --spacing: 0.25rem;

  [data-sonner-toaster][data-sonner-theme='light'] {
    --normal-bg: #fff;
    --normal-border: var(--gray4);
    --normal-text: var(--gray12);
    --success-bg: hsl(143, 85%, 96%);
    --success-border: hsl(145, 92%, 87%);
    --success-text: hsl(140, 100%, 27%);
    --info-bg: hsl(208, 100%, 97%);
    --info-border: hsl(221, 91%, 93%);
    --info-text: hsl(210, 92%, 45%);
    --warning-bg: hsl(49, 100%, 97%);
    --warning-border: hsl(49, 91%, 84%);
    --warning-text: hsl(31, 92%, 45%);
    --error-bg: hsl(359, 100%, 97%);
    --error-border: hsl(359, 100%, 94%);
    --error-text: hsl(360, 100%, 45%);
  }

  [data-sonner-toaster][data-sonner-theme='dark'] {
    --normal-bg: #000;
    --normal-bg-hover: hsl(0, 0%, 12%);
    --normal-border: hsl(0, 0%, 20%);
    --normal-border-hover: hsl(0, 0%, 25%);
    --normal-text: var(--gray1);
    --success-bg: hsl(145, 100%, 13%);
    --success-border: hsl(148, 100%, 30%);
    --success-text: hsl(143, 100%, 50%);
    --info-bg: hsl(215, 100%, 6%);
    --info-border: hsl(223, 43%, 17%);
    --info-text: hsl(216, 87%, 65%);
    --warning-bg: hsl(62, 100%, 15%);
    --warning-border: hsl(51, 100%, 34%);
    --warning-text: hsl(61, 100%, 50%);
    --error-bg: hsl(359, 57%, 37%);
    --error-border: hsl(357, 62%, 18%);
    --error-text: hsl(358, 100%, 86%);
  }
}

.dark {
  --background: oklch(0.1739 0.0041 285.97); /* dark-500 */
  --foreground: oklch(0.994 0 0); /* light-850 */

  --card: oklch(0.1783 0.0128 270.6); /* dark-300 */
  --card-foreground: oklch(0.994 0 0);

  --popover: oklch(0.1783 0.0128 270.6);
  --popover-foreground: oklch(0.994 0 0);

  --primary: oklch(0.7089 0.1967 46.81);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.6504 0.0475 272.34);
  --secondary-foreground: oklch(0.9722 0.0034 247.86);

  --muted: oklch(0.1783 0.0128 270.6); /* dark-200 */
  --muted-foreground: oklch(0.6547 0.0897 269.9);

  --accent: oklch(0.6504 0.0475 272.34);
  --accent-foreground: oklch(0.994 0 0);

  --destructive: oklch(0.45 0.15 27);
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.2728 0.0257 265.4); /* dark-400 */
  --input: oklch(0.2728 0.0257 265.4);
  --ring: oklch(0.7089 0.1967 46.81);

  --chart-1: oklch(0.7089 0.1967 46.81);
  --chart-2: oklch(0.6504 0.0475 272.34);
  --chart-3: oklch(0.6547 0.0897 269.9);
  --chart-4: oklch(0.6818 0.1584 243.35);
  --chart-5: oklch(0.994 0 0);

  --sidebar: oklch(0.1783 0.0128 270.6);
  --sidebar-foreground: oklch(0.994 0 0);
  --sidebar-primary: oklch(0.7089 0.1967 46.81);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.6547 0.0897 269.9);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.2728 0.0257 265.4);
  --sidebar-ring: oklch(0.7089 0.1967 46.81);

  --font-sans: Oxanium, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;

  --radius: 0.3rem;

  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
  --shadow-sm: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
  --shadow: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
  --shadow-md: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 2px 4px -1px hsl(0 0% 5% / 0.18);
  --shadow-lg: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 4px 6px -1px hsl(0 0% 5% / 0.18);
  --shadow-xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 8px 10px -1px hsl(0 0% 5% / 0.18);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2: '8px';
  --radius-1_5: '6px';

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
